/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when clicked */
	.flip-container.flipped .flipper {
		transform: rotateY(180deg);

		// .front {
		// 	z-index: 2;
		// }
    //
		// .back {
		// 	z-index: 1;
		// }
	}

.flip-container, .front, .back {
	width: 100%;
	height: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.4s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front, initially hidden pane */
.front {
	/* for firefox 31 */
	transform: rotateY(180deg);
	z-index: 1;
}

.back {
	z-index: 2;
	transform: rotateY(0deg);
}
